.THIS .thaiColor svg {
	background-color: #de0f83;
}

.THIS .notification-action-buttons-container {
	text-align: center;
}

.THIS .action-button-icon {
	color: black;
}

.THIS .single-button-container .button-label {
	color: blue;
}

.THIS .single-button-container:hover {
	cursor: pointer;
}