.THIS .display-flex .slds-form-element__control {
    display: flex;
}
.THIS .lookup-disabled, .THIS .lookup-disabled input {
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(236, 235, 234);
    border-color: rgb(201, 199, 197);
}