.THIS .card {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.THIS .uiTabset--task .tabs__item.active>a {
    background-color: #C5D6EF !important;
}

.THIS .dummyControlsContainer {
    background-color: #C5D6EF !important;
}

.THIS .forcePublisherQuickActionCollapser {
    padding-top: 0;
}

.THIS .uiTabset--task .tabs__nav {
    border: none;
}