.THIS {
}

.THIS h3 {
    font-size: 1em;
    font-weight: 700;
}

.THIS lightning-badge {
    /* float: right; */
    background-color: rgb(183, 93, 255, 1);
    color: rgb(255, 255, 255, 1);
}

.THIS lightning-badge.highlight {
    /* float: right; */
    background-color: rgb(255, 183, 93, 1);
    color: rgb(255, 255, 255, 1);
}

.THIS .news-thumbnail-wrapper {
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.THIS .news-thumbnail-wrapper img {
    max-width: none;
    height: 120px;
}

.THIS .news-isread {
    color: rgb(183, 183, 183, 1);
}