.THIS.cTHOR_ComponentRequestRecordDisplay {
    margin: 0 !important;
    padding: 0 !important;
}

.THIS.cTHOR_Header {
    padding-bottom: 1em !important;
}

.THIS .custom-box {
    border: 1px solid #d8dde6;
}

.THIS.detail-page {
    background-color: white;
    margin-top: 1em !important;
    box-shadow: 0 2px 2px 0 #cccccc;
    border-radius: 0.25rem;
}