.THIS .downloadButton {
    background-color: #45589d ; /* #DF1083 */
    color: white; /* #1B5200; */
    width: 100%;
    border-color: #45589d ;
    height: 50px;
    font-size:20px;
}
.THIS .downloadButton:hover {
    background-color: #c1e8ff ; 
    border-color: #c1e8ff ;
    color: black;
}