.THIS .display-flex .slds-form-element__control {
    display: flex;
}

.THIS .display-table .slds-form-element__label {
    display: table;
    max-width: 50%;
    /* calc(50% - var(--lwc-squareIconUtilityMedium,1.25rem)); */
}
.THIS.slds-backdrop_open {
    z-index: 10000;
}