.THIS .labelSequence {
	border: 0.1em solid #a6a6a6;
	padding: 0.5em;
	background-color: #dddbda;
}

.THIS .back-button {
	width: 60px;
	background-color: white;
	border-radius: 5px;
	font-size: 28px;
}

.THIS lightning-helptext .slds-form-element__icon {
	padding-top: 0;
}

.THIS lightning-helptext.icon-color_default .slds-form-element__icon .slds-button.slds-button_icon {
	color: #2e844a;
}

.THIS .slds-col .slds-spinner_container {
	z-index: 10 !important;
}