.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:80% !important;
}

.THIS .guidelineButton {
    background-color: #DF1083;/* #F3F2F2; */
    color: white; /* #1B5200; */
    width:197px;
    border-color: #DF1083;
    width:49%;
}
.THIS .guidelineButton:hover {
    /* background-color: #1B5297; */
    background-color: #F95EB1; 
    border-color: #F95EB1;
    color: white;
}

.THIS .procedureButton {
    background-color: #DF1083;/* #F3F2F2; */
    color: white; /* #1B5200; */
    width:197px;
    border-color: #DF1083;
    width:49%;
}
.THIS .procedureButton:hover {
    /* background-color: #1B5297; */
    background-color: #F95EB1; 
    border-color: #F95EB1;
    color: white;
}