.THIS {
    font-family: Poppins;
}
@media (min-width: 48em) {
    .THIS .slds-form-element__control {
        padding-left: 10%;
        clear: none;
    }
    .THIS .info {
        margin-left: 1rem;
    }
}
@media (min-width: 64em) {
    .THIS .slds-large-size_1-of-12 {
        width: 12.333333%;
    }
    .THIS .slds-image {
        margin-left: 2.8rem;
    }
    .THIS .pdl-5 {
        margin-left: 2.8rem;;
    }
    .THIS .feed-container {
        margin-left: 2.8rem;
        margin-right: 2.8rem;
    }
    .THIS .info {
        margin-left: 1rem;
    }
    .THIS .body-info {
        margin-left: 2.8rem;
    }
}
.THIS .slds-card__header-title {
    font-size: 1.5rem;
}

.THIS .news-coin-icon {
    width: 25px;
}
.THIS .slds-card__header-title {
    color: #004E9A;
}
.THIS p {
    color: #004E9A;
    line-height: 1.5rem;
}
.THIS .icn svg {
    fill: red;
}
.THIS .body-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}