.THIS .fadeIn {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.THIS .fadeOut {
    transition: opacity 0.5s ease;
    opacity: 0;
}

.THIS .title {
    /*border: 0.1em solid #a6a6a6;*/
    margin-top: 1em;
    padding: 0.5em;
    background-color: #f7f7f7;
}

.THIS .labelSequence {
    border-top: 0;
    padding: .5em;
    background-color: #dddbda;
}

.THIS .cardContainer {
    padding: .5em;
    background-color: #fff;
}