.THIS .slds-tabs_default__nav {
    background-color: white;
}
.THIS .custom-box {
    border: 1px solid #d8dde6;
}

.THIS .cTHOR_SingleTab {
    margin: 0 !important;
    padding: 0 !important;
}

.THIS .slds-tabs_scoped__content {
    padding: 0 !important;
}

.THIS .tab-Padding {
    padding: 1em !important;
}

.THIS .card {
    background-color: white;
    margin: 1em;
    box-shadow: 0 2px 2px 0 #cccccc;
}

.THIS .left-separated {
    margin-left: 1em;
}

.THIS .top-separated {
    margin-top: 1em;
}

.THIS .back-button {
    width: 60px;
    background-color: white;
    border-radius: 5px;
    font-size: 28px;
}

/* DATE: 2021-12-02 */
/* BEGIN: */
.THIS .labelSequence {
    border-top: 0;
    padding: .5em;
    background-color: #dddbda;
}

.THIS .cardContainer {
    padding: .5em;
    background-color: #fff;
}

.THIS .cardHover:hover {
    background-color: #f7f7f7 !important;
    border-bottom-color: rgb(196, 196, 196);
}
/* END */