.THIS.workclearance__container .workclearance__bg-gray {
    background-color: #dddbda;
}

@media (max-width: 602px) {
    .THIS.workclearance__container .workclearance__bg-gray {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .THIS.workclearance__container .slds-card__body .slds-box {
        font-size: var(--lwc-fontSize4, 0.875rem);
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
    }
}

.THIS.workclearance__container .d-flex {
    display: flex;
}

.THIS.workclearance__container .d-justify-space-between {
    justify-content: space-between;
}

@media (max-width: 602px) {
    .THIS.workclearance__container .slds-card .slds-card__footer button {
        font-size: var(--lwc-fontSize5, 1rem);
        font-weight: bold !important;
    }
}

.THIS.workclearance__container .slds-card .slds-card__header-title .slds-text-heading_small {
    font-size: var(--lwc-fontSize5, 1rem);
    font-weight: normal !important;
}

.THIS.workclearance__container .slds-card .slds-card__body {
    margin-bottom: 0;
}

.THIS.workclearance__container .slds-card .slds-card__footer {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.THIS.workclearance__container .slds-box:hover {
    background-color: #f7f7f7 !important;
}