.THIS .labelSequence {
    border: .1em solid #a6a6a6;
    padding: .5em;
    background-color: #dddbda;
}

.THIS .right-align {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: right;
}

.THIS .mgl-5 {
    margin-left: 5px;
}