.THIS th,
.THIS td {
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

.THIS.risk-initial {
    width: 200px;
}

.THIS.risk-initial td {
    border: 1px solid black;
}