.THIS .slds-center {
	text-align: center;
}

.THIS .slds-card__header-title {
	font-size: 1.5rem;
}

.THIS .slds-card__body_inner {
	/* padding-bottom: 1rem; */
	padding-top: 1rem;
}

.THIS .ql-align-right {
	text-align: right;
}

.THIS .ql-align-center {
	text-align: center;
}

.THIS .ql-font-serif {
	font-family: serif;
}
.THIS.container.slds-card {
	background-color: #839592;
}
.THIS .btn-inline-block {
	/* width: 100%; */
	margin: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.THIS .page-header {
	background: gray;
	box-shadow: 0px 0px 2px #c292f3;
	color: white;
	font-weight: bold;
	/* padding: 5px; */
	border-radius: 13px;
	width: 100%;
	height: 100%;
}

.THIS .slds-button_brand.page-header {
	background: rgb(2, 99, 178);
    box-shadow: 0px 0px 2px #c292f3;
	color: white;
	font-weight: bold;
	/* padding: 5px; */
	border-radius: 13px;
	width: 100%;
	height: 100%;
	/* 1,118,211 */
}
.THIS .backgroundButton {
	background: gray;
}


.THIS .slds-card__header-title {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 9px;
	font-size: 18px;
}
.THIS.container__filter {
	display: flex;
	justify-content: flex-end;
}

.THIS .label-name-line {
	line-height: 1 !important;
}

@media (max-width: 602px) {
	.THIS .slds-text-title_bold {
		font-size: var(--lwc-fontSize5, 0.875rem);
		font-weight: bolder !important;
	}

	.THIS .slds-text-body_regular {
		font-size: 0.875rem !important;
		font-weight: normal !important;
	}
	.THIS .slds-media__figure{
		width:40%;
	}
	.THIS .slds-media__figure.slds-listbox__option-icon{
		width: auto;
	}
	.THIS .lineHieght{
		line-height: 1;
		white-space: nowrap;
		font-size: 65%;
	}
}

.THIS .slds-avatar.slds-avatar_circle {
	margin: 0 !important;
	width: 6rem !important;
	height: 6rem !important;
	
}

.THIS input.select2-search__field {
	width: 100% !important;
}
.THIS .wrapword{
    white-space: -moz-pre-wrap !important; /*Mozilla, since 1999*/
    white-space: -webkit-pre-wrap; /*Chrome and Safari */ 
    white-space: -pre-wrap; /*Opera 4-6*/
    white-space: -o-pre-wrap; /*Opera 7*/
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /*Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
 }

.THIS img {
    position: relative;
}
.THIS.background {
    position: absolute;

}
.THIS .text-refer {
	right: 0;
 /* bottom: 0; */
 position: absolute;
 text-align: center;
}
/* .THIS .imgWidth{
	max-width: 50%;
} */
.THIS .slds-button_brand{
	--slds-c-button-spacing-inline-start: unset ;
	--slds-c-button-color-border:unset;
	--slds-c-button-text-color:unset;
}
.THIS .slds-button{
	padding-right: 6px;
}