.THIS {
}
.THIS .custom-box {
    border: 1px solid #d8dde6;
}
.THIS .hideElement{
    display: none !important;
}
.THIS .labelSequence {
    border: .1em solid #a6a6a6;
    border-top: 0;
    padding: .5em;
    background-color: #dddbda;
}
.THIS .back-button {
    width: 60px;
    background-color: white;
    border-radius: 5px;
    font-size: 28px;
}

.THIS .breakit {
    display: block !important;
    word-break: break-word;
}
.THIS .breakword {
    word-break: break-word;
}
.THIS .hovered:hover {
    cursor: pointer;
}