.THIS .slds-textarea {
    height:100px;
}

.THIS .textAreaClass .slds-textarea{
    height:150px;
}

.THIS .slds-textarea[disabled] { background-color: #f3f3f3; }
.THIS .slds-is-disabled { background-color: #f3f3f3 !important; }