.THIS .container {
	position: relative;
}

.THIS .totalRequests {
	padding-bottom: 10px;
}

.THIS .iconContainer {
	display: inline-flex;
}

.THIS .carIcon {
	background-color: rgb(112, 110, 107);
	margin-left: 1em;
}

.THIS .carNumber {
	top: -10px;
	right: -5px;
	background-color: red;
	color: white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	padding-bottom: 18px;
}
/*
.THIS .slds-input-has-icon_left-right {
	padding-left: 1rem;
}

.THIS .slds-input__icon_left {
	left: calc(1rem + var(--lwc-spacingSmall, 0.75rem)) !important;
} */

/* .THIS .slds-form-element__label {
	padding-left: 1rem;
}
.THIS .slds-form-element__help {
	padding-left: 1rem;
} */
/* .THIS .slds-button_brand {
	margin-top: 1rem;
}
.THIS .slds-button_brand {
	margin-top: 1.3rem;
	margin-left: 1rem;
} */

/* .THIS .slds-table td:first-child .slds-grid {
	justify-content: flex-end !important;
} */