.THIS.container {}

.THIS .slds-notify_container {
    z-index: 10;
    text-align: left;
}

.THIS .slds-notify_container .slds-theme_error {
    width: 100%;
}

.THIS .slds-notify_container .slds-theme_error .slds-notify__content h2 {
    white-space: pre-wrap;
}

.THIS .slds-modal__footer {
    border: 0;
    background: 0;
    box-shadow: 0 0 black;
    padding: 0;
}

.THIS .slds-card__body {
    /* aspect-ratio: 21/9; */
}

.THIS .slds-card__footer {
    border-top: 0;
}

.THIS .slds-card__body .slds-box {
    border: 0;
    overflow: auto;
}