.THIS .slds-button_brand {
	background: #5c77cc;
}

.THIS .btn-border-0 {
	height: 36px;
	padding-right: 10px;
    padding-left: 10px;
	
    border-radius: 10px;
}

.THIS .btn-border-1 {
	height: 36px;
	padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;

	border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #5c77cc;

    background: #5c77cc;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.THIS .btn-raise-mmbo {
    margin-right: 0px;
}

.THIS .btn-save {
	margin-right: 0px;
}

/* .THIS .btn-border-1{
    padding-right: 10px;
    padding-left: 10px;
	border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #5c77cc;

    background: #5c77cc;
    color: white;
    font-weight: 600;
    border-radius: 10px;
} */

@media (max-width: 602px) {
    .THIS .btn-border-1{
        font-size: 0.9rem;
    }
}