.THIS .custom_modal_container {
    width: 100% !important;
    margin: 0px;
    max-width: 100% !important;
}

.THIS .custom-help-txt .slds-form-element__icon {
    padding-top: 0.1rem;
}

.THIS .help-txt-hidden .slds-form-element__icon {
    display: none !important;
}

.THIS .custom-output {
    padding: 0.3rem 0;
}