.THIS {
	/*background-color: rgba(0, 0, 0, 0);*/
}

.THIS .cTHOR_SingleTab,
.THIS .slds-tabs_default__nav {
	background-color: white;
}

.THIS .custom-box {
	border: 1px solid #d8dde6;
}

.THIS .cTHOR_ObjectDisplayer .slds-tabs_default__content {
	aspect-ratio: 16/9;
}

.THIS .cTHOR_SingleTab {
	margin: 0 !important;
	padding: 0 !important;
}

.THIS .slds-tabs_scoped__content {
	padding: 0 !important;
}

.THIS .tab-Padding {
	padding: 1em !important;
}