.THIS .slds-center {
  text-align: center;
}

.THIS .slds-card__header-title {
  font-size: 1.5rem;
}

.THIS .slds-card__body_inner {
  padding-bottom: 2rem;
}

.THIS .ql-align-right {
  text-align: right;
}

.THIS .ql-align-center {
  text-align: center;
}

.THIS .ql-font-serif {
  font-family: serif;
}

.THIS .btn-inline-block {
  display: inline-block;
}


.THIS .slds-card__header-title {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 18px;
}

.THIS .label-name {
  font-size: 15px;
}

/* .THIS .slds-card {
  background-image: url('/resource/1629166508000/ITSerivce_Icon/background.png') !important;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
} */