.THIS .custom-box {
	border: 1px solid #d8dde6;
}

.THIS.card {
	background-color: white;
	margin: 1em;
	box-shadow: 0 2px 2px 0 #cccccc;
	border-radius: 0.25em;
}

.THIS .back-button {
	width: 60px;
	background-color: white;
	border-radius: 5px;
	font-size: 28px;
}

.THIS .custom-padding {
	padding-left: 0.25em;
}

.THIS .button-container {
	padding-left: 0;
}