.THIS.card {
 background-color: white;
 margin: 1em;
 box-shadow: 0 2px 2px 0 #cccccc;
 border-radius: 0.25em;
}

.THIS .custom-modal-width {
    width: 60% !important;
    max-width: 40rem !important;
    min-width: 20rem !important;
}