.THIS .slds-modal.slds-modal_small {
    max-width: 55%;
    margin: auto;
    margin-top: 7% !important;
    overflow-y: auto;
    max-height: 100%;
}

.THIS .display-flex .slds-form-element__control {
    display: flex;
}

.THIS .display-table .slds-form-element__label {
    display: table;
}

.THIS .text-break-word {
    word-break: break-word;
}

.THIS .text-bold {
    font-weight: bold;
}