.THIS .button-custom-style {
    width: 140px;
}
.THIS .button-found-style {
    border: solid 2px red;
    opacity: 60%;
    background-color: rgb(243, 137, 137);
    color: blue;
    text-decoration: underline;
}
.THIS .button-notfound-style {
    border: solid 2px green;
    opacity: 60%;
    background-color: rgb(77, 197, 105);
    color: black;
}
.THIS .button-yes-style {
    border: solid 2px red;
    opacity: 60%;
    background-color: rgb(243, 137, 137);
    color: black;
}
.THIS .text-underline {
    text-decoration: underline;
}
.THIS .button-notavailable-style {
    border: solid 2px rgb(60, 60, 60);
    opacity: 60%;
    background-color: rgb(177, 177, 177);
    color: black;
}