.THIS .slds-leftpad{
	padding-left: 2rem;
}
.THIS .iconheight{
    top: 65%;
}

.THIS .leftspace input {
    padding-left:2rem;
}
.THIS .slds-textarea[disabled] { background-color: #f3f3f3; }
.THIS .slds-is-disabled { background-color: #f3f3f3 !important; }

.THIS .textAreaClass .slds-textarea{
    height:120px;
    width:100%;
}