/* .THIS .labelSequence {
	border-top: 0;
	padding: 0 0.5em;
	background-color: #dddbda;
}

.THIS .cardContainer {
	padding: 0.5em;
	background-color: #fff;
}

.THIS .title {
	margin-top: 1em;
	padding: 0.5em;
	background-color: #f7f7f7;
}

.THIS .cardHover:hover {
	background-color: #f7f7f7 !important;
	border-bottom-color: rgb(196, 196, 196);
}

.THIS .oktana-showup {
	animation-name: oktana-showup;
	animation-timing-function: ease-in-out;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

@keyframes oktana-showup {
	0% {
		margin-top: -9em;
		opacity: 0;
	}

	70% {
		margin-top: 0em;
		opacity: 0.7;
		margin-bottom: 2em;
	}

	100% {
		margin-top: 0em;
		opacity: 1;
	}
} */

.THIS .slds-icon_container.active svg {
	fill: #5679c0;
}

.THIS.container .bg-gray {
	background-color: #dddbda;
}

@media (max-width: 602px) {
	.THIS.container .bg-gray {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		font-size: 0.875rem;
	}

	.THIS.container .slds-card__body .slds-box {
		font-size: var(--lwc-fontSize4, 0.875rem);
		padding-top: 0.5em !important;
		padding-bottom: 0.5em !important;
	}
	.THIS.container .slds-card .slds-card__footer button {
		font-size: var(--lwc-fontSize5, 1rem);
		font-weight: bold !important;
	}
}

.THIS.container .d-flex {
	display: flex;
}

.THIS.container .d-justify-space-between {
	justify-content: space-between;
}

.THIS.container .slds-card .slds-card__header-title .slds-text-heading_small {
	font-size: var(--lwc-fontSize5, 1rem);
	font-weight: normal !important;
}

.THIS.container .slds-card .slds-card__body {
	margin-bottom: 0;
}

.THIS.container .slds-card .slds-card__footer {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.THIS.container .slds-box:hover {
	background-color: #f7f7f7 !important;
}