.THIS .roadmapButton {
    background-color: #DF1083;/* #F3F2F2; */
    color: white; /* #1B5200; */
    width:49%;
    border-color: #DF1083;
}
.THIS .roadmapButton:hover {
    /* background-color: #1B5297; */
    background-color: #F95EB1; 
    border-color: #F95EB1;
    color: white;
}

.THIS .groupButton {
    background-color: #DF1083;/* #F3F2F2; */
    color: white; /* #1B5200; */
    width:49%;
    border-color: #DF1083;
}
.THIS .groupButton:hover {
    /* background-color: #1B5297; */
    background-color: #F95EB1; 
    border-color: #F95EB1;
    color: white;
}

.THIS .customDiv {
    background: var(--lwc-cardColorBackground,rgb(255, 255, 255));
    padding: var(--lwc-varSpacingVerticalSmall,0.75rem) var(--lwc-varSpacingHorizontalMedium,1rem);
    box-shadow: var(--lwc-cardShadow,0 2px 2px 0 rgba(0, 0, 0, 0.10));
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}