.THIS {
}
.THIS .custom-box {
    border: 1px solid #d8dde6;
}
.THIS .myButton {
    float: right;
}
.THIS .hideElement{
    display: none !important;
}
.THIS .back-button {
    width: 60px;
    background-color: white;
    border-radius: 5px;
    font-size: 28px;
}
.THIS .custom-box-left {
    border-left: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
}
.THIS .custom-box-right {
    border-right: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
}