@media (max-width: 602px) {

	.THIS .slds-modal__header .slds-modal__close {
		top: 0.3rem;
		right: 0.1rem;
	}

	.THIS > .slds-modal__container {
		padding: 0;
		margin: 0.5rem 0 0 0;
	}

	.THIS .slds-button__icon {
		fill: #101010;
		width: 2rem;
		height: 2rem;
	}

}