.THIS {
    font-family: FC Iconic, DB Heavent, Poppins;
}
.THIS .image {
    box-shadow: 1px 1px 6px 2px #ddd;
    border-radius: 8px;
    margin-bottom: 2px;
}

.THIS a {
    color: #000000;
    text-decoration: none;
}

.THIS a:hover {
    color: #000000;
    text-decoration: none;
}

.THIS .box-center {
    text-align: center;
    margin-bottom: 1.2rem;
}
.THIS .box-container {
    margin-top: 1rem;
}

.THIS .title {
    margin: auto;
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 7px;
}

.THIS .edit-header {
    margin-right: 1rem;
}

.THIS .inner {
    padding-bottom: 1rem;
}

.THIS .more {
    width: 35%;
    cursor: pointer;
}

.THIS .flex-more {
    text-align: right;
    margin-right: 1rem;
}