.THIS  .slds-modal__button{
    background-color: #dd1c1c;
}

.THIS .slds-form-element__label {
    color: black;
    font-size: 13px;
}

.THIS .slds-card {
    /* border-radius: 2rem; */
    padding: 0.5rem;
}

.THIS .header-title {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    color: #222;
    text-align: center;
}

.THIS .slds-col_bump-left {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.THIS .label-hidden .slds-form-element {
    padding: 0px;
}

.THIS .label-hidden .slds-form-element__label {
    display: none;
}
.THIS .label-horizontal{
    font-size:13px;
}

.THIS .action-dropup .slds-dropdown {
    top: -92px;
}

.THIS .border-none {
    border: none;
}

.THIS .muh-class > .slds-form-element > .slds-form-element__label {
	display: none;
}

.THIS span.slds-file-selector__text.slds-medium-show {
	display: none;
}

.THIS .slds-file-selector__dropzone {
	border: none;
}