.THIS .container {
	position: relative;
}

.THIS .totalRequests {
	padding-bottom: 10px;
}

.THIS .iconContainer {
	display: inline-flex;
	position: absolute;
	right: 0;
	top: 0;
}

.THIS .carContainer {
	position: relative;
}

.THIS .carIcon {
	background-color: rgb(112, 110, 107);
	margin-left: 1em;
}

.THIS .carNumber {
	position: absolute;
	top: -10px;
	right: -5px;
	background-color: red;
	color: white;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	text-align: center;
	padding-bottom: 18px;
}