.THIS .fadeIn {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.THIS .viewAllBtn {
    width: 100%;
    background-color: #ffffff;
    border: .1em solid #a6a6a6;
    border-radius: 0;
}

.THIS .alignLeft {
    text-align: left;
}

.THIS .alignRight {
    text-align: right;
}

@media (max-width: 602px) {
	.THIS.slds-card .slds-card__footer button {
		font-size: var(--lwc-fontSize5, 1rem);
		font-weight: bold !important;
	}
}