.THIS .cardContainer {
    border: none;
    padding: 0px;
}

.THIS .slds-p-right_small.slds-p-left_small.slds-size_12-of-12 {
    background-color: #fff;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    padding: 1rem;
}

.THIS .itemsTitle {
    padding-top: 1em;
}

.THIS .back-button {
    width: 60px;
    background-color: white;
    border-radius: 5px;
    font-size: 28px;
}

.THIS .thaiColor svg {
    background-color: #de0f83;
}

.THIS .myButton {
    position: absolute;
    right: 75px;
}