.THIS .badge{
    font-weight: 600;
    color: rgb(183, 183, 183, 1);
}

.THIS a:hover {
    text-decoration: none;
    color: rgb(183, 183, 183, 1);
}

.THIS .icon {
    float: right;
}

.THIS .title {
    font-size: 1rem;
    font-weight: var(--lwc-fontWeightBold,700);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .header-feed {
    margin-top: 5px;
    margin-bottom: 10px;
}

.THIS .card {
    background: #ffffff;
    border-radius: 8px;
}

.THIS .text-right {
    text-align: right;
    padding-bottom: 1rem;
    color: rgb(15 45 112)
}

.THIS .noti-detail {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.THIS .slds-card__body {
    margin-top: 1rem;
}

.THIS .image {
    margin: auto;
    width: 100%;
}

.THIS .title {
    font-size: 1rem;
    font-weight: var(--lwc-fontWeightBold,700);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}