.THIS.related-order-table-wrapper {
    width:100%;
    max-height: 40vh;
}

.THIS.related-order-table-wrapper table thead {
    position: sticky;
    top: 0;
}

.THIS .slds-resizable__divider:after {
    height: auto;
    max-height: 72vh;
}

.THIS.order-table-wrapper {
    width:100%;
    max-height: 72vh;
}

.THIS.order-table-wrapper table thead {
    position: sticky;
    top: 0;
    z-index: 1000;
}