.THIS.cTHOR_Retriever > div > p {
    display: none;
}

.THIS.back-button {
    width: 60px;
    background-color: white;
    border-radius: 5px;
    font-size: 28px;
}

.THIS.cTHOR_Header{
    width: 100%;
    white-space: nowrap;
}