.THIS .formula-style input {
    padding: 0px 10px;
}
.THIS .custom-content {
    height: 600px;
    overflow: auto;
}
.THIS .helptext-padding-top .slds-form-element__icon {
    padding-top: 0px !important;
    display: none;
}
.THIS .checkbox-style {
    display: flex;
}