.THIS .w-50-px {
    width: 100px;
}

.THIS tbody .slds-form-element .slds-form-element__label {
    position: relative;
    top: -8px;
    padding-right: 2px;
}

.THIS tbody .slds-form-element .slds-form-element__control {
    display: inline-block;
    width: calc(100% - 20px);
}

.THIS thead th,
.THIS tbody td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.THIS tbody tr td:nth-child(3) {
    text-align: center;
}