.THIS .select2-container {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height:inherit;
    border-radius:0;
    }


.THIS h1{
    font-weight:700;
    font-size: 20px;
    color: gray;
    padding-bottom: 2rem;

}
.THIS .container.slds-modal__footer{
    background-color: #97c5ce;
}
.THIS .btn-radius-0 {
	border-radius: 0.5rem;
}
.THIS .btn-radius-1 {
    
	border-radius: 0.5rem;
	/* background-color: #2a7393; */
	/* border-color: #2a7393; */
}
.THIS .btn-radius-1:disabled {
	border-radius: 0.875rem;
	background-color: #e8f2f4;
	border-color: #e8f2f4;
}
.THIS.mybtn {
	padding: .75rem 1rem;
	margin-top: .75rem;
	text-align: center;
	font-size: .7rem;
	border-top: 1px solid rgb(221, 219, 218);
	margin-bottom: 10px;
}
.THIS .lineHieght{
	line-height: 1;
	white-space: nowrap;
}
.THIS .textCustomStyle{
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
	font-weight: 500;
	font-size: 12px;
	color: white;
}
.THIS .textClearColor{
	color: black;
}

@media (max-width: 602px) {
	.THIS .slds-button,
	.THIS .slds-text-heading_small {
		font-size: 0.875rem;
	}

	.THIS .slds-form-element__control,
	.THIS .slds-form-element__static,
	.THIS .slds-form-element__label,
	.THIS .slds-accordion__summary-content {
		font-size: 0.75rem;
	}

	.THIS .slds-input,
    .THIS .slds-combobox__input,
    .THIS .slds-listbox__option_plain {
		font-size: 0.75rem;
		line-height: 1.5rem;
	}

	.THIS .slds-input[type=date],
	.THIS .slds-input[type=datetime-local],
	.THIS .slds-input[type=month],
	.THIS .slds-input[type=time] {
		height: 1.5rem;
	}
}